@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

.sidebar {
  font-family: 'Poppins', sans-serif;
  padding-top: 25px;
  width: 260px;
  /* flex-shrink: 0; */
  background-color: #34444c;
  height: 100% !important;
  overflow-y: scroll;
  color: #fff;
}

.sidebar-item {
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-title {
  display: flex;
  font-size: 13px;
  justify-content: space-between;
}
.sidebar-title span i {
  display: inline-block;
  width: 1.5em;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow-y: scroll;
  padding-left: 20px;
}
.sidebar-content2 {
  padding-top: 0.25em;
  height: 0;
  overflow-y: scroll;
  padding-left: -10px;
}

.sidebar-item.open > .sidebar-content2 {
  height: auto;
}

.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  color: #fff;
  text-decoration: none;
}
.sidebar-item.plain:hover {
  text-decoration: underline;
}
.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}
